@import 'utils';

// Colour Definitions
$near_black: #010D11;
$off_black: #03171E;
$deep_blue: #0082AF;
$lightest_blue: #F0F4F8;
$light_opaque_blue: rgba(240,244,248, 0.2);
$light_opaque_blue_fb: rgb(50,159,198);
$opaque_blue: rgba(240,244,248, 0.4);
$opaque_blue_fb: rgb(114,209,243);

@import 'typography';

html {
	background: $deep_blue;
}

body {
	margin: 0 auto;
	width: 1140px;
	position: relative;
	color: $off_black;

	@media only screen and (max-width: 960px) {
		max-width: 100%;
	}
}

#details {
	width: 320px;
	position: absolute;
    padding: 35px 0;

    @media only screen and (min-width: 480px) {
        width: 345px;
        padding: 45px 65px;
    }

	@media only screen and (max-width: 960px) {
		display: inherit;
		position: fixed;
		left: -475px;
		top: 0;
		background: $deep_blue;
		@include transition(left 0.6s ease);
	}

    .details-content {
        padding: 0;
        border: none;

        @media only screen and (max-width: 960px) {
            overflow-y: auto;
        }
    }

	h1 {
		padding-bottom: 1rem;
		border-bottom: 1px solid $lightest_blue;

        @media only screen and (min-width: 480px) {
            padding-bottom: 45px;
        }
	}

	div {
		border-bottom: 1px solid $lightest_blue;
		padding: 1em 0;

        @media only screen and (min-width: 480px) {
            padding: 2em 0;
        }

		p {
			margin: 0;
		}
	}

	div.links {
		padding: 1em 0;

        @media only screen and (min-width: 480px) {
            padding: 25.5px 0;
        }
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		a {
			display: block;
			padding: 0;
			border-radius: 4px;

            @media only screen and (min-width: 480px) {
                padding: 0.5em;
            }
		}
	}

	.sociallinks {
		li {
			display: inline-block;
			margin: 0 1em;
			width: 55px;
		}
	}
}

#content {
    width: 100%;

    @media only screen and (min-width: 480px) {
        width: 665px;
    	margin-left: 475px;
    }

	@media only screen and (max-width: 960px) {
		margin: 0 auto;
	}

	a {
		color: $deep_blue;
	}

	article,
	section {
		background: $lightest_blue;

        @media only screen and (min-width: 480px) {
            border-radius: 8px;
        }
	}

	article {
		padding: 2em 1em 1em;
		border-top: 1px solid $deep_blue;

        @media only screen and (min-width: 480px) {
            padding: 45px 65px;
            margin-top: 30px;
            border: none;
        }

		.post-content {
			margin: 1em 0;
		}

		.tags p {
			margin: 0;
		}
	}

	section {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		padding: 45px 0;
	}

	.loadmore {
		display: block;
		background: $lightest_blue;
		border-radius: 8px;
		padding: 1em;
		text-align: center;
		text-decoration: none;
		margin-top: 30px;
	}
}

/* back to the top button */
#backtotop {
	position: fixed;
	bottom: 30px;
	background: url(bluearrow.png) no-repeat 50% 50% $light_opaque_blue_fb;
	background: url(bluearrow.png) no-repeat 50% 50% $light_opaque_blue;
	width: 100px; height: 100px;
	line-height: 100px;
	text-align: center;
	color: $light_opaque_blue_fb;
	color: $light_opaque_blue;
	border-radius: 8px;
	margin-left: 310px;
	@include transition(all .4s ease-in);

	@media only screen and (max-width: 960px) {
		visibility: hidden;
	}

	&:after {
		content: "Back to top";
		position: relative;
		bottom: -55px;
		width: 100px;
		height: 21px;
		text-transform: uppercase;
	}

	&:hover {
		cursor: pointer;
		background-color: $opaque_blue_fb;
		background-color: $opaque_blue;
		color: $opaque_blue_fb;
		color: $opaque_blue;
	}
}

/* Rules to make tw output look respectable */
#content .post-content {
	word-wrap: break-word;

	div {
		img {
			max-width: 100%;
		}
		h1, h2 {
			margin: 1em 0 0.6em;
		}
		h2 {
			text-transform: none;
		}
		br {
			display: none;
		}
		ul {
			margin: 0;
		}
	}
}

/* Checkbox hack */
input[type=checkbox] {
	position: absolute;
	top: -9999px;
	left: -9999px;
	opacity: 0;

	@media only screen and (max-width: 960px) {
		&:checked ~ #details {
			left: 0;
			box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
		}
		&:checked ~ .links,
		&:checked ~ .sociallinks {
			display: block;
		}
	}
}

label {
	display: none;
	z-index: 1000;
	background: $deep_blue;
	color: $lightest_blue;
	padding: 0.5em 0.75em;
	border-bottom-right-radius: 4px;

	@media only screen and (max-width: 960px) {
		display: inherit;
		position: fixed;
		top: 0;
		left: 0;
	}
}
